  
/** id > class **/

body{
    /** permet de centrer les éléments sur la page **/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    
    /** on défini les paramètres corps: couleurs, position **/
    background-color: #000000;
    color: #ffffff;
    font-family: monospace;
    
}

/** on défini les paramètres du terrain: paramètres de la bordure, couleur,position **/
#terrain{
    
    width: 800px;
    height : 400px;
    position: relative;

    border:1px solid #000;
    border-top-color:#fff;
    border-bottom-color:#fff;
    
}

.tiltHaut {
    border-top-color: rgb(0, 250, 0) !important;
}

.tiltBas {
    border-bottom-color: rgb(0, 250, 0) !important;
}
.tiltGauche {
    border-left-color: rgb(250, 0, 0) !important;
}

.tiltDroite {
    border-right-color: rgb(250, 0, 0) !important;
}

/** on défini les paramètres de la balle: dimensions, couleur,position **/
#balle{
    
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    top : 50%;
    left: 50%;
    
}

/** on défini les paramètres de la raquette: dimension, couleur, position , insérer une variable -> calculer la variable **/
.raquette{
    
    position: absolute;

    --hauteur: 25%;

    top : calc( 50% - var(--hauteur)/2 );

    width: 10px;
    height: var(--hauteur);
    background-color: #fff;
    
}

#droite{
    right: 1%;
}

#gauche{
    left: 1%;
}