/** Paramètrage de l'arrière plan **/

body{
    background-color: #000;
    color: #fff;
    font-family: monospace;

}

/** Définir les délimitations du terrain **/

#terrain{
    position: relative;
    border-top : 1px solid white;
    border-bottom : 1px solid white;
    
    width:800px;
    height:400px;
}

/** Paramètrage graphique de la balle **/

#balle{
    position: absolute;
    top: 50%;
    left: 50%;  
    width:20px;
    height:20px;
    border-radius: 100%;
    background-color: white; 
    
}

/** Paramètrage graphique des raquettes **/

.raquette{
    
    position: absolute;
    /** Définir une variable **/
    --hauteur: 25%;
    /** Réalise des calculs pour déterminer la valeur d'une propriété CSS. **/
    top : calc( 50% - var(--hauteur)/2 ); 

    width: 10px;
    height: var(--hauteur);
    background-color: #fff;
}
#droite{
    right: 1%;}
#gauche{
    left: 1%;}

/** Permet de centrer les éléments dans la page **/ 

body{	
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
